WindowsFormsApp1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AveragePrice_InputMessage">
    <wsdl:part name="parameters" element="tns:AveragePrice" />
  </wsdl:message>
  <wsdl:message name="IService1_AveragePrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AveragePriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllPriceAndDates_InputMessage">
    <wsdl:part name="parameters" element="tns:AllPriceAndDates" />
  </wsdl:message>
  <wsdl:message name="IService1_AllPriceAndDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllPriceAndDatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveData" message="tns:IService1_SaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveDataResponse" message="tns:IService1_SaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPrice" message="tns:IService1_SelectPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPriceResponse" message="tns:IService1_SelectPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AveragePrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AveragePrice" message="tns:IService1_AveragePrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AveragePriceResponse" message="tns:IService1_AveragePrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllPriceAndDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllPriceAndDates" message="tns:IService1_AllPriceAndDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllPriceAndDatesResponse" message="tns:IService1_AllPriceAndDates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AveragePrice">
      <soap:operation soapAction="http://tempuri.org/IService1/AveragePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllPriceAndDates">
      <soap:operation soapAction="http://tempuri.org/IService1/AllPriceAndDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>